<%= render "cover" %>

<div class="container">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Your request</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center livingroom-booking-attributes">Arrival<br><%= @booking.arrival_date.to_date %></div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center livingroom-booking-attributes">Departure<br><%= @booking.departure_date.to_date %></div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center livingroom-booking-attributes">Length<br><%= (@booking.departure_date.to_date - @booking.arrival_date.to_date).to_i %> days</div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center livingroom-booking-attributes">Total price<br><%= @booking.total_amount %>€</div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Please send message to the host</h2>
      <div class="text-center">
        <%= simple_form_for [@livingroom, @booking] do |f| %>
          <%= f.input :message %>
          <%= f.input :arrival_date, :as => 'hidden', input_html: { value: @booking.arrival_date } %>
          <%= f.input :departure_date, :as => 'hidden', input_html: { value: @booking.departure_date } %>
          <%= f.input :total_amount, :as => 'hidden', input_html: { value: @booking.total_amount } %>
          <%= f.button :submit, 'Send request', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>

      <%# simple_form_for [@livingroom, @booking] do |f| %>
        <%# f.input :arrival_date, input_html: { value: params[:arrival_date].to_date } %>
        <%# f.input :departure_date, input_html: { value: params[:departure_date].to_date } %>
        <%# f.button :submit, class: "btn btn-danger" %>
      <%# end %>

  </div>
</div>
