<%= render "cover" %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Your request</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <div class="livingroom-card-text">
        <span>from <%= @booking.arrival_date.to_date %></span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="livingroom-card-text">
        <span>to <%= @booking.departure_date.to_date %></span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="livingroom-card-text">
        <span>total <%= @booking.total_amount %>€</span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Please send message to the host</h2>
        <%= simple_form_for [@livingroom, @booking] do |f| %>
          <%= f.input :message %>
          <%= f.input :arrival_date, :as => 'hidden', input_html: { value: @booking.arrival_date } %>
          <%= f.input :departure_date, :as => 'hidden', input_html: { value: @booking.departure_date } %>
          <%= f.input :total_amount, :as => 'hidden', input_html: { value: @booking.total_amount } %>
          <%= f.button :submit, 'Send request', class: "btn btn-success" %>
        <% end %>
      </div>

      <%# simple_form_for [@livingroom, @booking] do |f| %>
        <%# f.input :arrival_date, input_html: { value: params[:arrival_date].to_date } %>
        <%# f.input :departure_date, input_html: { value: params[:departure_date].to_date } %>
        <%# f.button :submit, class: "btn btn-danger" %>
      <%# end %>

  </div>
</div>
