<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Hello, welcome on your profile page</h2>
      <br>
      <h4 class="text-center">Complete your infos to get a nice place to work</h4>
      <br>
       <%= simple_form_for @user do |f| %>
        <%= f.input :email %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>


