<h2>Welcome on your user dashboard</h2>

<h3>Here are the livingrooms you listed</h3>
<ul>
  <% @livingrooms.each do |livingroom| %>
  <li> <%=livingroom.title %> </li>
  <li> <%=livingroom.description %> </li>
  <li> <%=livingroom.city %> </li>

<!--   <li> <%#livingroom.pictures.first.picture %> </li>
  <li></li> -->
  <% end %>
</ul>
<hr>

<h3>Here are the bookings request you made </h3>
<ul>
  <% @bookings_made.each do |booking| %>
  <li> <%=booking.livingroom.title %> </li>
  <li> <%=booking.livingroom.description.first(40) %> </li>
  <li> <%=booking.arrival_date %> </li>
  <li> <%=booking.departure_date %> </li>
  <li> <%=booking.total_amount %> </li>
  <li> <%=booking.status %> </li>
    <% if booking.status == "Validated" %>
      <span class="btn btn-success"><%=booking.status %></span>
    <% elsif booking.status == "Refused" %>
      <span class="btn btn-danger"><%=booking.status %></span>
    <% else %>
      <span class="btn btn-primary"><%=booking.status %></span>
    <% end %>
  <br>
  <% end %>
</ul>
<hr>

<!-- Ne renvoyer que les livingrooms qui ont un statut de
booking égal à "Sent", pas toutes lesliving rooms -->
<h3>Here are the bookings requests you received</h3>
<ul>
  <% @livingrooms.each do |livingroom| %>
    <li>Living room booked: <%=livingroom.title %> </li>
    <% livingroom.bookings.each do |booking| %>
      <li> By user ID: <%=booking.user_id %> </li>
      <li> From: <%=booking.arrival_date %> </li>
      <li> To: <%=booking.departure_date %> </li>
      <li> Message from the user: <%=booking.message %> </li>
<!--     <li> Status of the booking: <span class="btn btn-primary"><%=booking.status %></span> </li>
 -->
        <% if booking.status == "Validated" %>
          <span class="btn btn-primary"><%=booking.status %></span>
        <% elsif booking.status == "Refused" %>
          <span class="btn btn-danger"><%=booking.status %></span>
        <% else %>
          <%= simple_form_for [livingroom, booking] do |f| %>
            <%= f.input :status, collection: ["Pending", "Validated", "Refused"] %>
            <%= f.button :submit, class: "btn btn-success" %>
          <% end %>
        <% end %>
        <br>
    <% end %>
  <% end %>
</ul>
<hr>

<!-- PISTE
  - la route est mauvaise car bookings#edit est disponible sur users#show ?
 -->
