<%= render "cover" %>

<div class="container">

  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <div class="livingroom-card text-center">
        <div class= "livingroom-card-image">
          <%= image_tag 'users69.png' %>
        </div>
        <div class="livingroom-card-text">
          <span><%= @livingroom.capacity.to_i %> workers</span>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="livingroom-card text-center">
        <div class= "livingroom-card-image">
          <%= image_tag 'tag17.png' %>
        </div>
        <div class="livingroom-card-text">
          <span><%= @livingroom.price %>€ / day</span>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="livingroom-card text-center">
        <div class= "livingroom-card-image">
          <%= image_tag 'pin56.png' %>
        </div>
        <div class="livingroom-card-text">
          <span>in <%= @livingroom.city %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 livingroom-layer">
      <h2>Description</h2>
      <p><%= @livingroom.description %></p>
      <p>Address : <%= @livingroom.address %></li>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <h2>Your stay :</h2>
      <ul>
        <li>arrival date : <%= @arrival_date %></li>
        <li>departure date : <%= @departure_date %></li>
        <li>total length : <%= @length_of_the_stay %></li>
      </ul>
      <h2>Total amount : <%= @total_amount %>€</h2>
      <%= link_to 'send a booking request', new_livingroom_booking_path(@livingroom, departure_date: @departure_date, arrival_date: @arrival_date, total_amount: @total_amount), class: "btn btn-success" %>
    </div>
    </div>
  </div>
</div>


