<%= link_to 'return to home', livingrooms_path %>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @livingroom.title %></h1>
        <ul>
          <li>Description : <%= @livingroom.description %></li>
          <li>Capacity : <%= @livingroom.capacity %></li>
          <li>Price : <%= @livingroom.price %></li>
          <li>Address : <%= @livingroom.address %></li>
          <li>City : <%= @livingroom.city %></li>
        </ul>

    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <h2>Your stay :</h2>
      <ul>
        <li>arrival date : <%= @arrival_date %></li>
        <li>departure date : <%= @departure_date %></li>
        <li>total length : <%= @length_of_the_stay %></li>
      </ul>
      <h2>Total amount : <%= @total_amount %>€</h2>
      <%= link_to 'send a booking request', new_livingroom_booking_path(@livingroom, departure_date: @departure_date, arrival_date: @arrival_date, total_amount: @total_amount), class: "btn btn-success" %>
    </div>
    </div>
  </div>
</div>


