
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @livingroom.title %></h1>
       <% @livingroom.pictures.each do |picture| %>

          <%= image_tag picture.picture.url(:large) %>
        <% end %>
        <ul>
          <li>Description : <%= @livingroom.description %></li>
          <li>Capacity : <%= @livingroom.capacity %></li>
          <li>Price : <%= @livingroom.price %></li>
          <li>Address : <%= @livingroom.address %></li>
          <li>City : <%= @livingroom.city %></li>
        </ul>

        <% if @livingroom.user == current_user %>
          <%= link_to 'edit', edit_livingroom_path(@livingroom), class: "btn btn-primary" %>
          <%= link_to 'delete', livingroom_path(@livingroom), method: :delete, class: "btn btn-danger" %>
        <% end %>

    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <br>
      <h3>Please choose your dates !</h3>
      <%= form_tag get_total_price_livingroom_path do %>
        <%= date_field_tag :arrival_date %>
        <%= date_field_tag :departure_date %>
        <%= submit_tag 'submit', class: "btn btn-victory" %>
      <% end %>
    </div>
    </div>
  </div>
</div>



