
<%= render "cover" %>

<div class="container">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <div class="livingroom-card text-center">
        <div class= "livingroom-card-image">
          <%= image_tag 'users69.png' %>
        </div>
        <div class="livingroom-card-text">
          <span><%= @livingroom.capacity.to_i %> workers</span>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="livingroom-card text-center">
        <div class= "livingroom-card-image">
          <%= image_tag 'tag17.png' %>
        </div>
        <div class="livingroom-card-text">
          <span><%= @livingroom.price %>€ / day</span>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="livingroom-card text-center">
        <div class= "livingroom-card-image">
          <%= image_tag 'pin56.png' %>
        </div>
        <div class="livingroom-card-text">
          <span>in <%= @livingroom.city %></span>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 livingroom-layer">
      <h2>Description</h2>
      <p><%= @livingroom.description %></p>
      <p>Address : <%= @livingroom.address %></li>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <% if @livingroom.user == current_user %>
        <%= link_to 'edit', edit_livingroom_path(@livingroom), class: "btn btn-success" %>
        <%= link_to 'delete', livingroom_path(@livingroom), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <h2>Please choose your dates !</h2>
        <%= form_tag get_total_price_livingroom_path do %>
          <%= date_field_tag :arrival_date %>
          <%= date_field_tag :departure_date %>
          <%= submit_tag 'submit', class: "btn btn-victory" %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>



